In [1]:
import pandas as pd

data = pd.read_csv('annotate-target.csv')
data

,Date,Text,label,label_id
0,2015-04-25,दु:खद घडीमा श्री पशुपतिनाथले सबैको रक्षा गरुन्...,NaN,-1
1,2015-04-25,"भुकम्प आउँछ आउँछ, भने अनि यत्रो बेर बाहिरै बसि...",NaN,-1
2,2015-04-25,"यो के भयो, \nभुकम्प आयो, \nसयौँ जना लयो, \nफेर...",NaN,-1
3,2015-04-25,भगवान. \nरोकिदेउ तिम्रो यो लिला. \nसक्दैनै अब ...,NaN,-1
4,2015-04-25,बरु हामि पैसा तिर्छौ नेपाल टेलिकम फ्रि सेवा बन...,NaN,-1
...,...,...,...,...
43891,2015-05-01,२०७२ बैशाख १४ गते खिचेको त्रिपुरेश्वर स्थित का...,NaN,-1
43892,2015-05-01,"सरकार, संस्था, राजनीतिक दलहरुको ध्यान अहिलेसम्...",NaN,-1
43893,2015-05-01,राजा नभएको देश चणदाल र पाणदाल ले चलाएको देश मा...,NaN,-1
43894,2015-05-01,"""मिथिला"" नाम सुनतै स्वर्ग कँ अनुभूति होयत अछि।...",NaN,-1
43895,2015-05-01,आपतको बेला राहत भनेर देको फ्री कल घन्टौ हावा क...,NaN,-1

In [2]:
labeled = data[~data['label'].isna()]
labeled

,Date,Text,label,label_id
240,2015-04-25,यस्तो बेला पनी लुटपाट भन्ने सुनीयो.थुक्क यस्ता...,NEGATIVE,2
241,2015-04-25,हाम्रो देशको तत्कालीन अवश्थालाई मध्यनजर गर्दै ...,POSITIVE,1
266,2015-04-25,धेरै चोटि फोन गरें तै पनि सम्पर्ल भै रहेको छैन...,POSITIVE,1
364,2015-04-25,चौरमा त्रिपाल गाडेर यो अवस्थमा राखियको छ मेरो ...,NEGATIVE,2
449,2015-04-25,आफू तेति सारो भुकम्प प्रभावित क्षेत्रमा नभए पन...,NEGATIVE,2
...,...,...,...,...
43771,2015-05-01,हल्का टाउको दुखेको\r\n'\r\n'\r\n'\r\n' मेरो है...,NEUTRAL,0
43784,2015-05-01,ओम ह्रां ह्रीं ह्रूं नमो भुत डामर ज्वाला वश भू...,NEUTRAL,0
43808,2015-05-01,"हाँसो दिने धरहराको,चित्कार सुन् न सरकार!\r\nदे...",NEGATIVE,2
43833,2015-05-01,भूकम्पमा मृत्यु हुनेको संख्या ६ हजार १ सय ९८ प...,NEGATIVE,2
43879,2015-05-01,"खै कस्ले गर्यो त था भएन, बाजा बजेको चाहिँ सुनि...",NEUTRAL,0

In [3]:
annotated = pd.read_csv('annotated.csv')
annotated

,Date,Text,label,label_id
0,2015-04-25,"_ दिउँसो फोन भएको थियो , बाटोमा छु र आरामै छु ...",POSITIVE,1.0
1,2015-04-25,"माघ २ गतेलाई ""भुकम्प सुरक्षा दिवस""को रूपमा जनच...",NEGATIVE,2.0
2,2015-04-25,सानोमा डर भुतसग लाग्थ्यो ।पछि डर भविष्य सग लाग...,NEGATIVE,2.0
3,2015-04-25,"देश-विदेशको सहयोगी हातहरु, भाईचाराका भावपुर्ण ...",NEGATIVE,2.0
4,2015-04-25,नेपाली वेभले भुकम्प पीडितका लागि राहत संकलन शु...,POSITIVE,1.0
...,...,...,...,...
1721,2015-05-02,_ मैले त थाहा पाईन है तर डराउनु पर्दैन है,POSITIVE,1.0
1722,2015-05-02,मलाई के थाहा फेसबुका के छ भन्नि .\r\nमैले त् स...,NEUTRAL,0.0
1723,2015-05-02,उद्दार गर्न गाको भएत उपलब्धी हुन्थो घरमा नै सु...,NEGATIVE,2.0
1724,2015-05-02,लीलामणि को राजिनामा माग्ने को? मेरो प्रस्ताव च...,NEUTRAL,0.0
1725,2015-05-02,तिमिसंग भन्दा भुकम्प सग मेरो प्यार छ। \r\n#तिम...,NEUTRAL,0.0

In [4]:
merged = pd.concat([labeled,annotated])
merged

,Date,Text,label,label_id
240,2015-04-25,यस्तो बेला पनी लुटपाट भन्ने सुनीयो.थुक्क यस्ता...,NEGATIVE,2.0
241,2015-04-25,हाम्रो देशको तत्कालीन अवश्थालाई मध्यनजर गर्दै ...,POSITIVE,1.0
266,2015-04-25,धेरै चोटि फोन गरें तै पनि सम्पर्ल भै रहेको छैन...,POSITIVE,1.0
364,2015-04-25,चौरमा त्रिपाल गाडेर यो अवस्थमा राखियको छ मेरो ...,NEGATIVE,2.0
449,2015-04-25,आफू तेति सारो भुकम्प प्रभावित क्षेत्रमा नभए पन...,NEGATIVE,2.0
...,...,...,...,...
1721,2015-05-02,_ मैले त थाहा पाईन है तर डराउनु पर्दैन है,POSITIVE,1.0
1722,2015-05-02,मलाई के थाहा फेसबुका के छ भन्नि .\r\nमैले त् स...,NEUTRAL,0.0
1723,2015-05-02,उद्दार गर्न गाको भएत उपलब्धी हुन्थो घरमा नै सु...,NEGATIVE,2.0
1724,2015-05-02,लीलामणि को राजिनामा माग्ने को? मेरो प्रस्ताव च...,NEUTRAL,0.0
1725,2015-05-02,तिमिसंग भन्दा भुकम्प सग मेरो प्यार छ। \r\n#तिम...,NEUTRAL,0.0

In [5]:
merged.drop_duplicates()

,Date,Text,label,label_id
240,2015-04-25,यस्तो बेला पनी लुटपाट भन्ने सुनीयो.थुक्क यस्ता...,NEGATIVE,2.0
241,2015-04-25,हाम्रो देशको तत्कालीन अवश्थालाई मध्यनजर गर्दै ...,POSITIVE,1.0
266,2015-04-25,धेरै चोटि फोन गरें तै पनि सम्पर्ल भै रहेको छैन...,POSITIVE,1.0
364,2015-04-25,चौरमा त्रिपाल गाडेर यो अवस्थमा राखियको छ मेरो ...,NEGATIVE,2.0
449,2015-04-25,आफू तेति सारो भुकम्प प्रभावित क्षेत्रमा नभए पन...,NEGATIVE,2.0
...,...,...,...,...
1719,2015-05-02,आज भूकम्प पीडीत हरुको सहयोग को लागी \r\nसानो भ...,POSITIVE,1.0
1720,2015-05-02,प्रिपेडमा पैसा सकियो। हाम्रो ठाउँ तिर रिचार्ज ...,NEUTRAL,0.0
1722,2015-05-02,मलाई के थाहा फेसबुका के छ भन्नि .\r\nमैले त् स...,NEUTRAL,0.0
1723,2015-05-02,उद्दार गर्न गाको भएत उपलब्धी हुन्थो घरमा नै सु...,NEGATIVE,2.0
1724,2015-05-02,लीलामणि को राजिनामा माग्ने को? मेरो प्रस्ताव च...,NEUTRAL,0.0

In [6]:
merged.to_csv('annotated.csv',index=False)