In [1]:
import pandas as pd

# Data Exploration & Cleaning
**Expected Labels after cleaning**
|id&nbsp;&nbsp;&nbsp;&nbsp;|label&nbsp;&nbsp;&nbsp;&nbsp;|
|--|-----|
|0&nbsp;&nbsp;&nbsp;&nbsp;|Negative&nbsp;&nbsp;&nbsp;&nbsp;|
|1&nbsp;&nbsp;&nbsp;&nbsp;|Positive&nbsp;&nbsp;&nbsp;&nbsp;|
|2&nbsp;&nbsp;&nbsp;&nbsp;|Neutral&nbsp;&nbsp;&nbsp;&nbsp;|

## Movie Review

In [2]:
# !pip install openpyxl
mr_data = pd.read_excel("source-MovieReviews/train.xlsx")
mr_data.head(5)

                                             Reviews  Emotion
0  म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...        1
1  म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...        1
2  कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...        1
3  मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...        1
4  यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...        1

In [3]:
mr_data.rename(columns={"Reviews":"text","Emotion":"label"},inplace=True)
mr_data.head(5)

                                                text  label
0  म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...      1
1  म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...      1
2  कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...      1
3  मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...      1
4  यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...      1

In [4]:
mr_data['label'].value_counts()
# 0 -> Negative
# 1 -> Positive

label
1    367
0    235
Name: count, dtype: int64

In [5]:
## you can save this label cleaned dataset separately
# mr_data.to_csv("source-MovieReviews/train.csv")

## NepCov19Tweets

In [5]:
nepCov_data = pd.read_csv("source-NepCov19Tweets/train.csv")
print(nepCov_data.shape)
nepCov_data.head(5)

(33474, 5)

,Unnamed: 0,Label,Datetime,Tweet,Tokanize_tweet
0,0,-1,2021-01-10 22:06:41+00:00,अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...,"अमेरिकामा,कोभिड,बाट,एकै,दिन,चार,हजारभन्दा,बढीक..."
1,1,-1,2021-01-10 17:49:34+00:00,कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...,"कोभिड,का,कारण,विदेशमा,रहेका,नेपालीहरुमा,मानसिक..."
2,2,1,2021-01-10 16:18:34+00:00,नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...,"नेपालमा,क्लोभर,बायोफार्मास्युटिकल्स,अस्ट्रेलिय..."
3,3,0,2021-01-10 15:12:17+00:00,कोभिड को खोप पनि लगाइयो,"कोभिड,को,खोप,पनि,लगाइयो"
4,4,-1,2021-01-10 15:07:12+00:00,अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...,"अमेरिकामा,कोभिड,को,नयाँ,रेकर्ड,एकै,दिन,हजारभन्..."

In [6]:
nepCov_data = nepCov_data[['Tweet','Label']].rename(columns={"Tweet":"text","Label":"label"})
nepCov_data.head(5)

                                                text label
0  अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...    -1
1  कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...    -1
2  नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...     1
3                            कोभिड को खोप पनि लगाइयो     0
4  अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...    -1

In [7]:
nepCov_data['label'].value_counts()

label
1                                                                                                                                                                                                                                                                                                   14982
-1                                                                                                                                                                                                                                                                                                  13593
0                                                                                                                                                                                                                                                                                                    4860
neutral""                                                                                                                                                                                                                                                                                               6
positive""                                                                                                                                                                                                                                                                                              5
positive"                                                                                                                                                                                                                                                                                               1
neutral'\n15732,2020-06-02 17:35:36+00:00,नेपालमा कोरोना संक्रमित हुनेको संख्या दिनदिनै बढिरहेको छ स्वास्थ्य मन्त्रालयका अनुसार अहिले नेपालमा एक हजार सक्रिय संक्रमित छन् कोभिड कोरोना,नेपालमा                                                                                                          1
positive'\n16721,2020-05-26 10:29:31+00:00,नेपालमा साना तथा मध्यम व्यवसाय प्रवर्द्धनमा आईएफसीले सघाउने विश्व ब्याङ्क अन्तर्गतको अन्तर्राष्ट्रिय वित्त निगम आईएफसी ले कोरोनाभाइरस कोभिड बाट शिथिल नेपाली निजी क्षेत्रलाई गतिशील बनाउन सहयोग गर्ने जनाएको छ,नेपालमा                                       1
neutral'\n16871,2020-05-25 10:19:06+00:00,प्रधानमन्त्री केपी शर्मा ओलीले कोभिड को हालसम्मको अवस्था र अबका रणनीति बारे बिशेष जानकारी गराउन राष्ट्रका नाममा सम्बोधन गर्ने भएका छन्,प्रधानमन्त्री                                                                                                          1
positive'\n17241,2020-05-22 09:35:31+00:00,कोभिड ले बच्चामा पारेका पाँच असर यसरी गर्न सकिन्छ व्यवस्थापन,कोभिड                                                                                                                                                                                           1
positve                                                                                                                                                                                                                                                                                                 1
Negative                                                                                                                                                                                                                                                                                                1
neutrals                                                                                                                                                                                                                                                                                                1
-0--                                                                                                                                                                                                                                                                                                    1
-1 26122                                                                                                                                                                                                                                                                                                1
31932                                                                                                                                                                                                                                                                                                   1
-1 32694                                                                                                                                                                                                                                                                                                1
neutral'\n14892,2020-06-08 09:15:44+00:00,कोभिड को महामारीका कारण भारतबाट बाँकेस्थित जमुनाहा नाका भएर घर फर्किरहेकाहरुका लागि हामीले खानेकुरा पानी र स्वास्थ्य सामग्रीको व्यवस्था गरेका छौं हजार व्यक्तिहरुलाई खानेकुरा खुवाउने लक्ष्य हाम्रो छ मिलेरै लडौ कोरोना भगाउन,कोभिड                           1
positive'\n12095,2020-07-11 02:19:33+00:00,चीनबाटै सुरु भएको कोभिड महामारी पुन फैलिन थालेपछि सन् का लागि तय भएका सबै अन्तर्राष्ट्रिय खेलकुद रद्द भएका छन् चीन अन्तर्राष्ट्रिय प्रतियोगिता रद्द,चीनबाटै                                                                                                  1
positives                                                                                                                                                                                                                                                                                               1
positive'\n12120,2020-07-10 16:07:25+00:00,विश्वमा कोभिड को महामारी र लकडाउनले बन्द भएका होटलले होटल श्रमिक अहिले बडो मर्कामा छन् उनीहरूले महिना देखि तलव पाएको छैन होटल महासंघ नेपाल हान लाई आफ्नो होटल व्यवसाय चलाई दिने श्रमिक को केहि चिन्ता छैन फलस्वरूप होटल श्रमिक भोकै छन् अहिले,विश्वमा        1
negative'\n12038,2020-07-11 14:36:23+00:00,कोभिड जस्तो महामारी सायद दशकमा एकचोटि आउला तर बाढीपहिरोले प्रत्येक बर्ष कैयौंको ज्यान लिने र धेरैलाई घरबार बिहिन बनाइदिन्छ यो प्राकृतिक प्रकोपलाई अहिलेको महामारी कोभिड भन्दा बढी प्राथमिकता दिन जरुरी छ,कोभिड                                               1
negative'\n12033,2020-07-11 16:35:47+00:00,कोभिड जनस्वास्थ्यका मापदण्ड पालना गर्न अपिल,कोभिड                                                                                                                                                                                                            1
negative'\n12028,2020-07-12 01:50:59+00:00,कोभिड विश्वमा संक्रमणबाट ज्यान जानेको संख्या पाँच लाख हजार नाघ्यो,कोभिड                                                                                                                                                                                      1
negative'\n12025,2020-07-12 02:23:32+00:00,अमिताभ बच्चन र उहाँको छोरो पनि कोभिड संक्रमित भएका छन् उहाँहरू को स्वास्थ्य लाभको कामना सचेत रहौं सुरक्षित रहौं,अमिताभ                                                                                                                                       1
negative'\n12021,2020-07-12 03:12:24+00:00,कोरोना भाइरस कोभिड को महामारी फैलिएयता अमेरिकी राष्ट्रपति डोनाल्ड ट्रम्प पहिलो पटक मास्कमा देखिएका छन्,कोरोना                                                                                                                                                1
मन्त्रीज्यू,यदि,कतै,वहाँले,भने,जस्तो,स्थिति,रहेछ,भने,बाट,यस्तोयस्तो,अवस्थामा,कोभिड,निशुल्क,परिक्षण,यहाँ,यहाँ,बाट,हुन्छ,भनेर,एउटा,जनहितमा,सुचना,जारी,गर्न,पहल,गर्नुभए,हुन्थ्यो                                                                                                                           1
negative"\n6179,2020-09-14 09:24:43+00:00,कोभिड को त्रासले आर्थिक मारमा शहरी गरिब बालबालिका पढेर प्रतिक्रिया दिनुहोला,कोभिड                                                                                                                                                                             1
,negative""                                                                                                                                                                                                                                                                                             1
positive'\n3929,2020-10-16 12:15:51+00:00,भक्तपुर जिल्ला भित्रका सबै शक्तिपिठ तथा मन्दिरहरूमा नित्य पूजा बाहेक बली दिने दर्शनका लागि भीडभाड गर्ने लगायत कोभिड को संक्रमण फैलन सक्ने अन्य गतिबिधि गर्न निषेध गरिएको सूचना असोज,भक्तपुर                                                                   1
;positive                                                                                                                                                                                                                                                                                               1
negative"                                                                                                                                                                                                                                                                                               1
31                                                                                                                                                                                                                                                                                                      1
Name: count, dtype: int64

In [8]:
nepCov_data.loc[(nepCov_data['label'] == '0') | nepCov_data['label'].str.contains('neu'),'label'] = 2 # Neutral
nepCov_data.loc[(nepCov_data['label'] == '-1') | nepCov_data['label'].str.contains('neg'),'label'] = 0 # Negative
nepCov_data.loc[(nepCov_data['label'] == '1') | nepCov_data['label'].str.contains('pos'),'label'] = 1 # Positive
nepCov_data = nepCov_data[nepCov_data['label'].isin((0,1,2))]
print(nepCov_data['label'].value_counts())
print(nepCov_data.dtypes)
print(nepCov_data.shape)
## you can save this label cleaned dataset separately
nepCov_data.head(5)

label
1    14996
0    13601
2     4870
Name: count, dtype: int64
text     object
label    object
dtype: object
(33467, 2)

                                                text label
0  अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...     0
1  कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...     0
2  नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...     1
3                            कोभिड को खोप पनि लगाइयो     2
4  अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...     0

## NepQuake15
**This data set is being annotated within this project. Checkout *NepQuake15* and *Annotator* directory.**

In [10]:
nqk_data = pd.read_csv('../NepQuake15/annotated.csv')
print(nqk_data.shape)
nqk_data.head(5)

(3730, 4)

,Date,Text,label,label_id
0,2015-04-25,यस्तो बेला पनी लुटपाट भन्ने सुनीयो.थुक्क यस्ता...,NEGATIVE,2.0
1,2015-04-25,हाम्रो देशको तत्कालीन अवश्थालाई मध्यनजर गर्दै ...,POSITIVE,1.0
2,2015-04-25,धेरै चोटि फोन गरें तै पनि सम्पर्ल भै रहेको छैन...,POSITIVE,1.0
3,2015-04-25,चौरमा त्रिपाल गाडेर यो अवस्थमा राखियको छ मेरो ...,NEGATIVE,2.0
4,2015-04-25,आफू तेति सारो भुकम्प प्रभावित क्षेत्रमा नभए पन...,NEGATIVE,2.0

In [11]:
nqk_data.loc[nqk_data['label'] == 'NEGATIVE', 'label'] = 0
nqk_data.loc[nqk_data['label'] == 'POSITIVE', 'label'] = 1
nqk_data.loc[nqk_data['label'] == 'NEUTRAL', 'label'] = 2

In [12]:
nqk_data.drop_duplicates(inplace=True,ignore_index=True)
print(nqk_data.shape)
nqk_data['label'].value_counts()

(2449, 4)

label
2    1012
0     868
1     569
Name: count, dtype: int64

In [13]:
nqk_data['text'] = nqk_data['Text']
nqk_data = nqk_data[['text','label']]
## you can save this label cleaned dataset separately
nqk_data.head(5)

                                                text label
0  यस्तो बेला पनी लुटपाट भन्ने सुनीयो.थुक्क यस्ता...     0
1  हाम्रो देशको तत्कालीन अवश्थालाई मध्यनजर गर्दै ...     1
2  धेरै चोटि फोन गरें तै पनि सम्पर्ल भै रहेको छैन...     1
3  चौरमा त्रिपाल गाडेर यो अवस्थमा राखियको छ मेरो ...     0
4  आफू तेति सारो भुकम्प प्रभावित क्षेत्रमा नभए पन...     0

## PS_Nepali_SA

In [14]:
ps_data = pd.concat([pd.read_csv('source-PS_Nepali_SA/train.csv'),pd.read_csv('source-PS_Nepali_SA/test.csv')])
print(ps_data.shape)
ps_data.head(5)

(6056, 3)

   Unnamed: 0                                               text  label
0           1  1000 अंकले घटेको नेप्से 200 अंकले बढ्नु ठूलो क...      1
1           4                                       राम्रो भयो️️      1
2           6                जानकारीको लागि धन्यवाद रामहरी ब्रदर      1
3          18  भारत-मधेस र नेपाल-चीन सम्बन्ध विग्रन्छ, मधेसी ...      0
4          25  लेखनाथ न्यौपानेको खुलासा,महाधिबेशनमा एमसीसीको ...      0

In [15]:
ps_data.drop(columns='Unnamed: 0',inplace=True,axis=1)
ps_data.drop_duplicates(subset='text',inplace=True,ignore_index=True)
ps_data = ps_data[ps_data['label'].isin((0,1))]
print(ps_data.shape)
print(ps_data['label'].value_counts())
## you can save this label cleaned dataset separately
ps_data.head(5)

(4597, 2)
label
1    2828
0    1769
Name: count, dtype: int64

                                                text  label
0  1000 अंकले घटेको नेप्से 200 अंकले बढ्नु ठूलो क...      1
1                                       राम्रो भयो️️      1
2                जानकारीको लागि धन्यवाद रामहरी ब्रदर      1
3  भारत-मधेस र नेपाल-चीन सम्बन्ध विग्रन्छ, मधेसी ...      0
4  लेखनाथ न्यौपानेको खुलासा,महाधिबेशनमा एमसीसीको ...      0

## RR_Nepali_SA

In [16]:
rr_data = pd.concat([pd.read_csv('source-RR_Nepali_SA/train.csv'),pd.read_csv('source-RR_Nepali_SA/test.csv')])
print(rr_data.shape)
rr_data.head(5)

(7996, 2)

                                                text label
0  बजार ले जसरी ट्रेन्ड चेन्ज गर्यो यो हेर्दा तत्...     2
1  1000 अंकले घटेको नेप्से 200 अंकले बढ्नु ठूलो क...     1
2  होइन यो सानिमा बैंक ले bonus घोसणा गरेको २ महि...     2
3  खैँ MBJC प्रति कित्तामा रू,10/-ले बढेर आज रू,1...     2
4                                       राम्रो भयो️️     1

In [17]:
rr_data['label'].value_counts(), rr_data.dtypes

(label
 1     3266
 0     2987
 2     1732
 -        6
 o        2
 20       1
 11       1
 --       1
 Name: count, dtype: int64,
 text     object
 label    object
 dtype: object)

In [18]:
rr_data.dropna(inplace=True)
rr_data.drop_duplicates(subset=['text'],inplace=True,ignore_index=True)
rr_data.loc[rr_data['label'] == '1','label'] = 1
rr_data.loc[rr_data['label'] == '2','label'] = 2
rr_data.loc[rr_data['label'] == '0','label'] = 0
rr_data = rr_data[rr_data['label'].isin((0,1,2))]

## you can save this label cleaned dataset separately
rr_data['label'].value_counts(), rr_data.dtypes

(label
 1    2615
 0    1904
 2    1359
 Name: count, dtype: int64,
 text     object
 label    object
 dtype: object)

In [19]:
## Note: 
## It is found that PS_Nepali_SA is subset of RR_Nepali_SA
## -----------------------------------------------------
rr_data.shape, rr_data[rr_data['text'].isin(ps_data['text'])].shape, ps_data.shape, ps_data[~ps_data['text'].isin(rr_data['text'])].shape

((5878, 2), (4572, 2), (4597, 2), (25, 2))

## S1_Nepali_SA

In [20]:
s1_data = pd.read_csv('source-S1_Nepali_SA/train.csv')
print(s1_data.shape)
s1_data.head(5)

(7991, 2)

                                                text  label
0  बजार ले जसरी ट्रेन्ड चेन्ज गर्यो यो हेर्दा तत्...      2
1  1000 अंकले घटेको नेप्से 200 अंकले बढ्नु ठूलो क...      1
2  होइन यो सानिमा बैंक ले bonus घोसणा गरेको २ महि...      2
3  खैँ MBJC प्रति कित्तामा रू,10/-ले बढेर आज रू,1...      2
4                                       राम्रो भयो️️      1

In [21]:
s1_data.dropna(inplace=True)
s1_data.drop_duplicates(subset=['text'],inplace=True,ignore_index=True)

s1_data.shape, s1_data.dtypes, s1_data['label'].value_counts()

((5901, 2),
 text     object
 label     int64
 dtype: object,
 label
 1    2772
 0    1662
 2    1467
 Name: count, dtype: int64)

In [22]:
## Note:
## It is found that s1_data and rr_data is also same
s1_data[s1_data['text'].isin(rr_data['text'])].shape, rr_data.shape

((5870, 2), (5878, 2))

In [23]:
ps_data[ps_data['text'] == s1_data[s1_data['label'] == 0].iloc[0]['text']], s1_data[s1_data['label'] == 0].iloc[0]
ps_data[ps_data['text'].isin(s1_data[s1_data['label'] == 2]['text'])]

                                                   text  label
118   किन ल्याको यसलाई ? सत्तरी करोडको अनुहार देख्न ...      0
119   यस्ता भ्रष्टहरुलाई रोजेर पठाउने हामी जनता कस्त...      0
122   यो चोरलाइ किन घरीघरी अन्तरबार्ताको लागि बोलाउछ...      0
123             70 करोड वाला अझ कति चुरिफुरी गर्छ थुक्क      0
124                         बो लकड … ओलीको लकड गोकुल जी      0
...                                                 ...    ...
2864                                     खाना खानु भयो?      1
2865                             किन गर्छौ य जातको कुरा      1
4564  कति हास्नु यो कोरना ले यि गाइको अनुहार परेका ग...      0
4565  नरणाथ जि को कुरा 101% सहि छ किन भने एउटा नेता ...      0
4570  थिएन कि क्या हो ।। राति उधो पनि कालो चसमा लगाक...      0

[165 rows x 2 columns]

# Merging Data

## 2 Class Sentiment Data
> If you are interested in 2 class sentiment analysis, then you should use Movie Reviews, NepCov19Tweets(Plus), NepQuake15, and PS_Nepali_SA data.

In [24]:
dataset_2class = pd.concat([mr_data,nepCov_data,nqk_data,ps_data])
dataset_2class = dataset_2class[dataset_2class['label'].isin((0,1))]

dataset_2class.shape, dataset_2class['label'].value_counts()

((35233, 2),
 label
 1    18760
 0    16473
 Name: count, dtype: int64)

In [33]:
dataset_2class.to_csv('2class_dataset.csv')

## 3 Class Sentiment Data
> If you are interested in 3 class sentiment analysis, then you should use NepCov19Tweets, NepQuake15, and S1_Nepali_SA data.

*We can observe in the dataset that S1_Nepali_SA, RR_Nepali_SA, and PS_Nepali_SA contains same source texts with different labels assigned. S1_Nepali_SA and RR_Nepali_SA are pretty much identical with very few differences. But, PS_Nepali_SA is 2 class sentiment dataset and many of the neutral class data has be re-labeled to either positive or negative.*

*Note: NepCov19TweetsPlus can be downloaded from huggingface_hub and same processing steps as used for NepCov19Tweets can be used.*

In [25]:
dataset_3class = pd.concat([mr_data,nepCov_data,nqk_data,s1_data])

dataset_3class.shape, dataset_3class['label'].value_counts()

((42419, 2),
 label
 1    18704
 0    16366
 2     7349
 Name: count, dtype: int64)

### NepCov19TweetsPlus

In [26]:
import datasets

ncplus = datasets.load_dataset('raygx/NepCov19TweetsPlus')
ncplus

e:\Repositories-Personal\Python-Projex\NLP-DataCollection\Text-Sentiment-Annotation\NLP\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

DatasetDict({
    train: Dataset({
        features: ['Sentiment', 'Sentences'],
        num_rows: 41541
    })
})

In [27]:
ncplus = pd.DataFrame(ncplus['train'])
ncplus.rename(columns={"Sentiment":"label","Sentences":"text"},inplace=True)
print(ncplus.shape)
ncplus.head(5)

(41541, 2)

   label                                               text
0     -1  अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...
1     -1  कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...
2      1  नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...
3      0                            कोभिड को खोप पनि लगाइयो
4     -1  अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...

In [28]:
ncplus.loc[(ncplus['label'] == 0),'label'] = 2 # Neutral
ncplus.loc[(ncplus['label'] == -1), 'label'] = 0 # Negative
ncplus.loc[(ncplus['label'] == 1), 'label'] = 1 # Positive
print(ncplus['label'].value_counts())
print(ncplus.dtypes)
print(ncplus.shape)

label
1    14989
0    13598
2    12954
Name: count, dtype: int64
label     int64
text     object
dtype: object
(41541, 2)

In [30]:
dataset_3class = pd.concat([dataset_3class,ncplus]).drop_duplicates()
dataset_3class

                                                    text label
0      म एक शिक्षक , शिक्षा क्षेत्रमा रमाएको मान्छे ।...     1
1      म सरकारी स्कूल/कलेजमा पढेर करीब १२ बर्ष भन्दा ...     1
2      कति राम्रो शिव मन्दिर देख्न पाइयो कुन ठाउको हो...     1
3      मारुनी भन्ने वितिकै सामान्य नाचनीमा आधारित कथा...     1
4      यो फ्लिम हेरिसकेपछी थाहा भयो कि किन दर्सकहरुले...     1
...                                                  ...   ...
41536          कोरोना महामारीमा जीवन बीमाको अग्निपरीक्षा     2
41537               कोरोना महामारीले लाखौँको तरकारी नष्ट     2
41538  कोरोना महामारी रोकथाम र नियन्त्रणका लागि यस्तो...     2
41539  कोरोना महामारीको क्रममा अनुगमनमा निस्किए प्रदे...     2
41540           कोरोनाको महामारीबीच सकियो बिस्केट जात्रा     2

[50487 rows x 2 columns]

In [31]:
dataset_3class['label'].value_counts()

label
1    18690
0    16361
2    15436
Name: count, dtype: int64

In [32]:
dataset_3class.to_csv('3class_dataset.csv')

# Other Data Sources

In [3]:

data_train = pd.read_csv("https://raw.githubusercontent.com/ecabott/nepali-sentiment-analysis/main/datasets/train.csv")
data_test =  pd.read_csv("https://raw.githubusercontent.com/ecabott/nepali-sentiment-analysis/main/datasets/test.csv")
data = pd.concat([data_test,data_train])
data.shape

(43774, 2)